extends layout

block content
  section.wrapper
    .sectionContainer
      .verificationPageContainer
        h2.sectionHeading #{title}
        .backToMainmenuButton
          a(href="/", target="_self")
            button Back

        .uploadedImagecategoryContainer
          if !imageName
            h2.homepageTitle No more images!
          else
            form(action="/validate", method="post")
              ul
                li Category: #{category}
                li 
                  input(type="hidden", name="image", value=`${imageName}`)
                li 
                  input(type="hidden", name="rating", value="ok")
                li.uploadImageCategorySubmitButton
                  input(type="submit", value="OK")

            .verificationPageFormContainer
              form(action="/validate", method="post")
                .imageUploadContainer
                  img(src=`${s3 ? s3 : 'images/uploads/' + imageName}`, alt='This is the image which is to be verified')
                .uploadedImageName #{imageName}
                input(type="hidden", name="image", value=`${imageName}`)
                .verificationPageFormContainerFooter
                  select(name="rating")
                    for item in categories
                      option(selected= item == 1) #{item}
                  .verificationPageFormContainerFooterButton
                    input(type="submit", value="Update")
